*html{
background-image:url(about:blank);
background-attachment:fixed;
}

#switchcontrol {
	text-align:absolute-middle;
}

.binput {
	border:1px solid #ddd1ce; 
	padding:0.3em;
}

#feedbackbutton{
	display: block;
	_position:absolute;
	_bottom:auto;
	_top:expression(eval(document.documentElement.scrollTop)+200);
}

#nav li.search #search_text{
	padding: 4px 2px;
}

#index .download{display:inline;float:left;margin-left:20px}
#index .download ul{display:inline;float:left; width:100px; margin-left:33px}
#index .download ul.downloadinfo{display:inline;float:left; width:125px; margin-left:1px; OVERFLOW: hidden;HEIGHT: 265px}
#index .download ul li img{display:inline;border:0; width:115px;margin-bottom : 2px;}
#index #moveinfo img{margin-left:26px;float:left;}
.small_box .tline{overflow: hidden; margin-left: 2px;}
.poiownerline{height:1px; border-top:1px solid #d1d9e3; border-bottom:0;font-size:0;}
	
#set_form {display:inline;width:610px; float:left; margin-top:16px; margin-left:160px;}
.avatars li img {float:none; margin:2px auto; width:52px; height:52px}


.large_box {margin-bottom:12px; border-right:1px solid #DCE2EA;border-left:1px solid #dce2ea; border-bottom:1px solid #dce2ea;}


table.pblog_table {width:480px; border-collapse:collapse;border-spacing:0px;padding:0}
.poi_list{
	height: 370px;
	width:490px;
	border: 1px solid #e7ebf1;
	overflow-y: auto;
	overflow-x: hidden;
}
#index .download{margin-left:23px; margin-top: 15px;}
#index .download ul{ width:100px; margin-left:30px}
#index .download ul.downloadinfo{text-align: center; width:128px;margin-left:-19px}
#index .download ul li img{border:0; width:115px;margin-bottom : 1px;}
#index #moveinfo img{margin-left:26px;float:left;}

img.ie6poiicon {
	width: 24px;
	height: 24px;
}


.ui-dialog{
	border: 1px solid #e7ebf1;
}
.blue_btn{
	line-height: 30px;
	margin-top: 2px;
}
#loginform {margin-top:5px}
#loginform label {color:#4d6719}
#loginform input {width:250px; padding:5px 2px; font-size:14px; text-align:center; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;}
#loginform select {width:257px;font-size:14px; text-align:center; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;}
#loginform #signup_btn {height: 39px; 
	display: block; 
	border: 0px;
	color: #FFF;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	text-decoration: none;
	width: 160px;
	padding-top:5px;}
#loginform #more {float:right; margin-top:36px}
#loginform #login_btn {width: 137px; 
	height: 39px; 
	display: block; 
	!filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="../images/blue-button.png");  
	!background:no-repeat 50% 50%;
	color: #FFF;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	padding-top:5px;}


.no_border{
	border:0;
}



img.ie6poi_logo {
	width: 48px;
	height: 48px;
}


.action a{height:20px; display:block; float:left; margin-right:7px; text-align:center; color:#0F7CC5}

.large_box{
	padding-bottom: 48px;	
}


.xu_line{
	overflow: hidden;
}

#search_poi_div input{
	width: 325px;
	height: 20px;
	padding-top:8px;
}

.create_div input{
	width: 290px;
	padding: 4px;
}

#add_poi_city, #add_poi_province, #add_poi_country{
	width: 58px;
}


.poi_action_btn a{
	left: -4px;
}

.poi_action_btn{
	width:85px;
}


#nav div.userlannonav{
	margin-top:2px;
}

ul.toolsSystem li{
	padding: 20px 20px 0;
	height: 80px;
}
table.find_table {width:525px; border-collapse:collapse;border-spacing:0px;margin-bottom:10px;padding:0; line-height: 17px;}

.tabs_div{
	padding:4px 5px 10px; 
	background-color:#fff; 
	border-left:1px solid #dce2ea; 
	border-bottom:1px solid #dce2ea;
}
#setting_menu{	
	padding-left:8px;
}
.learnmore_backup{
	!filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="../images/learnmore-back.png");  
	!background:no-repeat 50% 50%;
	
}
.learnmore_backdown{
	!filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="../images/learnmore-down.png");  
	!background:no-repeat 50% 50%;
	margin-top:15px;
}
#learnmore-text{
	!filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="../images/learnmore-blue.png");  
	!background:no-repeat 50% 50%;
}


#backTop{
	left: 50%;
	margin-left: 478px;
	display: block;
	position:absolute;
	top:expression(eval(document.documentElement.scrollTop)+eval($(window).height()-80));
}

#show_special_img{		
	width:expression(this.width > 230? 230 : true);	
	overflow: visible;
}

#half_left{
	padding-right: 2px;
}

.user #icon {
	margin-left: -3px;
}

div.stat{
	overflow: hidden;
}
#top_login_fromthird{
	padding-right:1px;
	margin-top:-2px;
}
#top_login_third_guide_block{
	margin-top:-2px;
	width:150px;
	left:-15px;
}
#top_login_third_guide_menu{
	position:absolute;
	left:75px;
	border:0;
}
#top_login_third_guide_list{
	margin-top:6px;
	border-top:3px solid #C1C2C2;
}
#top_login_third_guide_list span{
	display:block;
}
#top_login_third_guide_title{
	padding-left:5px;
}
#font_bj{
	padding-top:45px;
	height:310px;
}
#font_gz{
	padding-top:45px;
	height:310px;
}
#search_choose{
	left:345px;
}
#top_search_jiao{	
	position: absolute;
	left:15px;
	border:0;
}
#top_search_list{
	margin-top:6px;
	border-top:3px solid #A6B1BE;
}
#top_search_list li{
	padding-left:2px;
} 
.white-bg{width:282px;}
#half_left .poi-tips .tipinput{width:648px;height:48px}
